.image-container-with-spinner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  /* margin: 0; */
  width: 100%;
}
.spinner {
  position: absolute;
}
.image-container-with-spinner img {
  width: 100%;
  max-width: 100%;
  margin: 10px auto 0 auto;
}

@media (min-width: 700px) {
  .image-container-with-spinner {
    min-height: 300px;
  }
}
