.projects-content {
  padding: 20px 20px;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.project-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 12px;
  /* text-transform: capitalize; */
}
.project-title:first-letter {
  text-transform: capitalize;
}
.project-subTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px 8px 20px;
  text-transform: capitalize;
}

.projects-content p {
  line-height: 1.5;
  /* text-indent: 20px; */
}
.projects-content p::first-letter {
  text-transform: capitalize;
}
.first-p::first-letter {
  /* text-indent: 20px; */
  font-weight: bold;
  text-transform: capitalize;
}
.highlighted-p {
  background-color: var(--light-blue);
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  line-height: 1.8 !important;
}

@media (min-width: 760px) {
  .projects-content {
    padding: 20px 80px;
  }
}
