.skills {
  /* text-align: center; */
  font-size: 16px;
}

.skills li {
  margin: 0 auto 10px auto;
  /* font-size: 14px; */
}
.skills-li-bold {
  font-weight: bold;
}
.currently-learning {
  margin-bottom: 20px;
}
