.skills {
  /* text-align: center; */
  font-size: 16px;
}

.skills li {
  margin: 0 auto 10px auto;
  /* font-size: 14px; */
}
.skills-li-bold {
  font-weight: bold;
}
.to-learn,
.highlighted-skills {
  margin-bottom: 20px;
}

.learning-span {
  color: var(--pink);
  text-transform: capitalize;
}
.learned {
  color: var(--green);
  text-transform: capitalize;
  text-decoration: line-through;
}
.learned-span {
  color: var(--green);
  text-transform: capitalize;
}
