.experience-item-heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
  margin-bottom: 0;
}
.experience-image-and-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.experience-item-heading img {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: white;
  object-fit: contain;
  padding: 4px;
}

.experience-date {
  width: 100%;
  text-align: start;
  padding-left: 70px;
  margin-top: -5px;
  color: rgb(100, 100, 100);
}
.experience-item-list-detail {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 70px;
}
.experience-item-list-detail li {
  margin: 5px auto;
}
@media (min-width: 600px) {
  .experience-item-heading {
    flex-wrap: nowrap;
  }
  .experience-date {
    width: fit-content;
    text-align: end;
    margin-top: 0;
    color: var(--dark-blue);
  }
}
