.eduation-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
  margin-bottom: 20px;
}
.eduaction-image-and-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.eduation-flex img {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: white;
  object-fit: contain;
  padding: 4px;
}

.education-list {
  font-weight: bold;
}
.education-date {
  width: 100%;
  margin-top: 5px;
  text-align: end;
}
@media (min-width: 600px) {
  .eduation-flex {
    flex-wrap: nowrap;
  }
  .education-date {
    width: fit-content;
    text-align: end;
    margin-top: 0;
  }
}
