.about-container {
  width: 100%;
  padding: 20px;
}
.about-btns-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.about-btns-group button {
  background-color: var(--backgrounColor);
  color: grey;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 5px;
}
.selected-about-btn {
  font-weight: bold;
  background-color: var(--light-grey) !important;
  color: var(--teal) !important;
  text-decoration: underline;
}
.about-btns-group button:hover {
  color: var(--teal);
  background-color: var(--light-grey) !important;
}
.about-group-btn-hr {
  margin: 10px 0 20px 0;
  border: none;
  border-top: 2px solid var(--teal);
}
.about-content {
  padding: 20px 20px;
  min-height: 300px;
}
.about-hr {
  /* margin: 10px 0 20px 0; */
  border: none;
  border-top: 1px solid rgba(226, 226, 226, 0.795);
}

@media (min-width: 760px) {
  .about-btns-group button {
    background-color: var(--backgrounColor);
    border: none;
    text-transform: uppercase;
    font-size: 18px;
  }
  .about-content {
    padding: 20px 80px;
  }
  .about-group-btn-hr {
    /* margin: 10px 60px 20px 60px; */
  }
}
