.about-container {
  width: 100%;

  /* padding: 0 20px 20px 20px; */
}
.about-btns-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 5px;
  padding: 5px 10px;
  border-top: 2px solid var(--teal);
  border-bottom: 2px solid var(--teal);
}
.about-btns-group button {
  background-color: var(--backgrounColor);
  color: grey;
  border: none;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: "Lora", serif;
  font-weight: 500;
}
.selected-about-btn {
  font-family: "Lora", serif;
  font-weight: 700 !important;
  background-color: var(--light-grey) !important;
  color: var(--teal) !important;
  text-decoration: underline;
}
.about-btns-group button:hover {
  color: var(--teal);
  background-color: var(--light-grey) !important;
}

.about-content {
  padding: 20px 20px;
  min-height: 300px;
}
.about-hr {
  border: none;
  border-top: 1px solid rgba(226, 226, 226, 0.795);
}

@media (min-width: 760px) {
  .about-btns-group button {
    background-color: var(--backgrounColor);
    border: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  .about-content {
    padding: 20px 80px;
  }
}
