.snakes-and-ladders-container p {
  font-size: 16px;
}
.snakes-and-ladders-container img {
  max-width: 100%;
}

.first-p {
  text-indent: 20px;
}
.first-p::first-letter {
  font-weight: bold;
}
.last-p {
  background-color: var(--light-blue);
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  /* width: fit-content; */
}
