/* for mobile */

.profile-outer-container {
  background-color: var(--dark-blue);
}
.profile-container {
  padding: 40px 20px 40px 20px;
  max-width: var(--max-width);
  margin: 0 auto;
}
.profile-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.profile-image-container img {
  width: 170px;
  height: 170px;
  box-sizing: content-box;
  border-radius: 50%;
  border: 2px solid var(--light-blue);
  padding: 3px;
}
.profile-name {
  font-size: 24px;
  font-weight: bold;
  color: var(--light-blue);
  text-transform: capitalize;
  margin-bottom: 20px;
}
.profile-details {
  text-align: center;
  font-size: 16px;
  color: rgb(195, 208, 231);
}

.profile-contact {
  margin-top: 16px;
  color: rgb(136, 170, 224);
  font-size: 14px;
}
.profile-contact a {
  color: rgb(136, 170, 224);
  text-decoration: underline;
}

@media (min-width: 950px) {
  .profile-container {
  }

  .profile-image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .profile-details {
    font-size: 18px;
  }
  .profile-barnd-statement {
    max-width: 900px;
    margin: 0 auto;
  }
}
