/* for mobile */

.profile-outer-container {
  /* background-color: var(--dark-blue); */
  background-image: radial-gradient(
    circle,
    rgb(17, 45, 78, 1),
    rgba(3, 33, 64, 1)
  );
}
.profile-container {
  padding: 40px 20px 40px 20px;
  max-width: var(--max-width);
  margin: 0 auto;
}
.profile-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.profile-image-container img {
  width: 180px;
  height: 180px;
  box-sizing: content-box;
  /* border-radius: 50%; */
  border-radius: 20px;
  border: 2px solid var(--light-blue);
  padding: 4px;
}
.profile-name {
  font-size: 22px;
  font-weight: bold;
  color: var(--light-blue);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.profile-details {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(195, 208, 231);
}

.profile-contact {
  margin-top: 10px;
  color: rgb(136, 170, 224);
  /* color: rgba(255, 255, 255, 0.5); */
  font-size: 14px;
}
.profile-contact a {
  color: rgb(136, 170, 224);
  /* color: rgba(255, 255, 255, 0.7); */
  text-decoration: underline;
}

@media (min-width: 950px) {
  .profile-image-container img {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
  }
  .profile-details {
    font-size: 16px;
  }
  .profile-barnd-statement {
    max-width: 900px;
    margin: 0 auto;
  }
}
