@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
:root {
  --max-width: 1200px;
  --horizontal-margin: 20px;
  --border-radius: 5px;
  --teal: rgb(0, 173, 181);
  --dark-grey: rgb(57, 62, 70);
  /* --light-grey: rgb(238, 238, 238); */
  --light-grey: #f9f7f7;
  --background-color: #f9f7f7;
  --almost-black: rgb(34, 40, 49);
  --dark-blue: rgb(17, 45, 78);
  --blue: rgb(63, 114, 175);
  --light-blue: rgb(219, 226, 239);
}

*,
p,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grey);
  font-size: 16px;
  font-family: "lora", serif;
  color: var(--dark-blue);
}

a {
  color: var(--blue);
  text-decoration: underline;
  font-weight: normal;
}
.bold-text {
  font-weight: bold;
}
.content-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  text-decoration: underline;
  text-transform: capitalize;
}

.go-up {
  width: 100%;
  text-align: end;
}
