@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --max-width: 1500px;
  --horizontal-margin: 20px;
  --border-radius: 5px;
  --teal: rgb(0, 173, 181);
  --dark-grey: rgb(57, 62, 70);
  /* --light-grey: rgb(238, 238, 238); */
  --light-grey: #f9f7f7;
  --background-color: #f9f7f7;
  --almost-black: rgb(34, 40, 49);

  /* --light-blue: #dbe2ef;
  --blue: #3f72af;
  --dark-blue: #112d4e;
  --danger: red;
  --error: orange;
  --success: #64ccc5;
  --purble: #4b03e6;
  --form-field-description: #8d8d8d;
  --sideBarWidth: 250px;
  --sideBarBreakPoint: 800px;
  --sideBarBackground: #173d69; */
}

*,
p,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Lato", sans-serif;
  color: var(--dark-grey);
}
