.projects-outer-container {
}
.projects-container {
}
.projects-btns-group {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 10px;
  border-top: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
}
.group-btns-title {
  margin: 0 12px 0 0;
  font-size: 20px;
  color: var(--blue);
  font-weight: bold;
  text-transform: uppercase;
}
.projects-btns-group button {
  color: var(--blue);
  background-color: var(--light-grey);
  border: none;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 40px;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 15px;
}
.selected-project-btn {
  font-family: "Lora", serif;
  font-weight: 700 !important;
  background-color: var(--light-blue) !important;
  color: var(--blue) !important;
  text-decoration: underline;
}
.projects-btns-group button:hover {
  color: var(--blue);
  background-color: var(--light-blue) !important;
}

.projects-content {
  padding: 20px 20px;
  max-width: var(--max-width);
  margin: 0 auto;
}
.about-hr {
  border: none;
  border-top: 1px solid rgba(226, 226, 226, 0.795);
}
.about-text-after-list {
  padding-left: 20px;
}

@media (min-width: 760px) {
  .projects-btns-group button {
    border: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  .projects-content {
    padding: 20px 80px;
  }
}
